    .H3{
      text-align: center;
    }
    .Code{
      margin: 0 0 0 320px;
    }
    .Aside{
    width: 260px; 
    padding: 20px;   
    background: #848482;
    color: #FFFFFF;
    position: absolute;
    
   }
   .leftimg {
    float:left; 
    margin: 20px 20px 20px 20px; 
    border-radius: 200px;
    width: 200px;
    height: 200px;
    
   }
   .center {
    width: 800px; 
    padding: 20px; 
    margin: auto;
    background:#ffffff;
}
   body{
background:#b4b4b4;
font-family: Courier New;
font-style: monospace;
}
 .main-footer{
width: 650px; 
padding: 20px;
margin: auto;
}
 .newcolor{
  color:#ffffff;
  text-align:center;
  font-family:  Courier New;
  font-style: monospace;
  border: 3px solid white;
  padding: 5px;
}

 